{% extends "core/base.html" %}

{% block content %}
    <h2>
        <span class="pull-right">
            <a href="{% url 'bookcases:bookshelf_edit' bookshelf.pk %}"><i class="fa fa-pencil-square"></i></a>
        </span>
        {{bookshelf.shelf_label}}
    </h2>
    <p>
        <em>
            There are {{bookshelf.book_count}} book{{bookshelf.book_count|pluralize}} on this shelf.
        </em>
    </p>
    {% if books %}
        <h3>
            <div class="pull-right">
                <a href="{% url 'bookcases:bookshelf_book_new' bookshelf.pk %}"><i class="fa fa-plus-circle"></i></a>
            </div>
            Books
        </h3>
        <hr>
        <div class="row">
            {% for book in books %}
                <div class="col-md-4">
                    {% include "books/_book_thumbnail.html" %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <a class="btn btn-primary btn-block btn-lg" href="{% url 'bookcases:bookshelf_book_new' bookshelf.pk %}">Add a book</a>
    {% endif %}
{% endblock content %}