body{
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7b/Bkwm.jpeg");
    background-repeat: no-repeat;
}

.page-footer {
    position: fixed;
    bottom: 0;
    background-color: #eee;
    width: 100%;
}
.page-footer hr {
    margin-top: 0;
    border-color: #aaa;
}

.main-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    min-height: 80vh;
    border-radius: 2px;
}
.index-content {
        margin-top: 40vh;
        min-height: auto;
}

.book-thumbnail {
    background-color: #eee;
}

.book-thumbnail .caption {
    background-color: #fff;
    margin-top: 4px;
}
.book-thumbnail .book-cover {
    min-height: 240px;
}